a {
  color: unset;
  text-decoration: none;
}
a:hover {
  color: unset;
}

@media (max-width: 550px) {
  .empty-menu-item {
    display: none;
  }
}
/*color variables*/
/*other variables*/
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

html, body, .container {
  height: 100%;
}

.container {
  background-color: #FFFFFF;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #353030;
}
@media (max-width: 600px) {
  footer .footer-segment:nth-of-type(3) {
    border-top: 1px solid #222;
  }
}
footer .footer-link {
  display: inline-block;
  text-align: center;
  color: #EFEFEF;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
footer .footer-link:hover {
  box-shadow: inset 3px 4px 16px -4px black;
  background-color: #332F2F;
}
footer .footer-link:active {
  box-shadow: inset 3px 4px 16px -4px black;
  background-color: #1B1818;
}
@media (max-width: 600px) {
  footer .empty-menu-item {
    visibility: hidden;
  }
}
