@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,600,500,700,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Exo:400,100,900italic,600italic,700,700italic,800,800italic,900,600,500italic,400italic,500,300italic,300,200italic,200,100italic);
@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic);
a {
  color: unset;
  text-decoration: none;
}
a:hover {
  color: unset;
}

@media (max-width: 550px) {
  .empty-menu-item {
    display: none;
  }
}
/*color variables*/
/*other variables*/
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}
html .header-font, body .header-font {
  font: 300 Italic 8rem Volkhov, serif;
  display: inline-block;
  background: yellow;
  /*     padding-right: 30px;
      padding-left: 30px;   */
  display: inline-block;
  width: 100%;
}

html, body, .container {
  height: 100%;
}

.container {
  background-color: #FFFFFF;
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
  top: 0;
  display: table;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0.6;
  background-color: #353030;
  background-color: #ECE9E9;
}
header .footer-link {
  padding: 8px;
}
header .footer-link.footer-button {
  color: #23140f;
  cursor: pointer;
  transition: all 0.1s;
  cursor: pointer;
}
header .footer-link.footer-button:hover {
  box-shadow: inset 3px 4px 16px -4px black;
  box-shadow: inset 1px 2px 16px -6px black;
}
header .footer-link.footer-button:active {
  box-shadow: inset 3px 4px 16px -4px black;
}
header .footer-link.cyan:hover {
  background-color: #009999;
}
header .footer-link.cyan:active {
  background-color: #006666;
}
header .footer-link.cyan.selected {
  background-color: #00cccc;
}
header .footer-link.magenta:hover {
  background-color: #990099;
}
header .footer-link.magenta:active {
  background-color: #660066;
}
header .footer-link.magenta.selected {
  background-color: #cc00cc;
}
header .footer-link.yellow:hover {
  background-color: #ffff00;
}
header .footer-link.yellow:active {
  background-color: #e5e500;
}
header .footer-link.yellow.selected {
  background-color: yellow;
}
@media (max-width: 600px) {
  header .footer-link:nth-of-type(3) {
    border-top: 1px solid #222;
  }
}
header .footer-link {
  display: inline-block;
  text-align: center;
}
@media (max-width: 600px) {
  header .empty-menu-item {
    visibility: hidden;
  }
}

#main-content {
  padding-bottom: 25px;
}
#main-content p {
  font-family: Noticia Text;
  font-style: italic;
  font-size: 13pt;
  line-height: 19pt;
  border: 1px solid #efefef;
  background: #F3F3F3;
  padding: 1px;
}
#main-content .side-strip {
  height: 100%;
  position: fixed;
  background: #4a6db4;
  box-shadow: 4px 0px 3px 0px rgba(52, 77, 128, 0.35);
  width: 40px;
}
@media (max-width: 600px) {
  #main-content p {
    padding-right: 15px;
    padding-left: 15px;
  }
}
