@import "./overrides/skeleton-overrides.scss";
@import "./overrides/media-overrides.scss";

@import "./media-query-mixins.scss";

@import "./fonts.scss";

/*color variables*/
$rich-black: #353030;
$light-black: #ECE9E9;

/*other variables*/
$standard-animation-duration: 0.1s;

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;

  .header-font{
    font: 300 Italic 8rem Volkhov, serif;
    display: inline-block;
    background: yellow;
/*     padding-right: 30px;
    padding-left: 30px;   */
    display: inline-block;
    width: 100%;  
  }
}
html, body, .container{
  height: 100%;
}

.container{
  background-color: #FFFFFF;
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
  top: 0;
  display: table;
}


header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0.6;
  background-color: $rich-black;
  background-color: $light-black;
  .footer-link{
    padding: 8px;

    &.footer-button{
      color: #23140f;
      cursor: pointer;
      transition: all $standard-animation-duration;
      cursor: pointer;

      &:hover{
        box-shadow: inset 3px 4px 16px -4px rgba(0, 0, 0, 1);
        box-shadow: inset 1px 2px 16px -6px black
      }
      &:active{
        box-shadow: inset 3px 4px 16px -4px rgba(0, 0, 0, 1);
      } 
    }

    &.cyan{
      &:hover{
        background-color: #009999
      }
      &:active{
        background-color: #006666;
      }
      &.selected{
        background-color: #00cccc;
      }
    }

    &.magenta{
      &:hover{
        background-color: #990099;
      }
      &:active{
        background-color: #660066;
      }
      &.selected{
        background-color: #cc00cc;
      }
    }

    &.yellow{
      &:hover{
        background-color: #ffff00;
      }
      &:active{
        background-color: #e5e500;
      }
      &.selected{
        background-color: yellow;
      }
    }    

    &:nth-of-type(3){
      @include bp(sml){
        border-top: 1px solid #222;
      }
    }

  }
  .footer-link{
    display: inline-block;
    text-align: center;
  }
  .empty-menu-item{
    @include bp(sml){
      visibility: hidden;
    }
  }
}

#main-content{
  padding-bottom: 25px;
  p{
    font-family: Noticia Text;
    font-style: italic;
    font-size: 13pt;
    line-height: 19pt;
    border: 1px solid #efefef;
    background: #F3F3F3;
    padding: 1px;        
  }
  .testcontainer{
  
  }
  .side-strip{
    height: 100%;
    position: fixed;
    background: #4a6db4;
    box-shadow: 4px 0px 3px 0px rgba(52, 77, 128, 0.35);
    width: 40px;
  }
  p{
    @include bp(sml){
      padding-right: 15px;
      padding-left: 15px;
    }
  }  
}

