<header ng-controller="siteUberHeaderCtrl">
  <div class="row">
    <div class="three columns u-full-width footer-segment empty-menu-item">&nbsp;</div>
    <div class="two columns footer-segment">
      <a href="/#/work" class="u-full-width footer-link footer-button yellow" ng-class="{selected: selectedID===0}" ng-click="toggleSelected(0)">
        Work
      </a>
    </div>    
    <div class="two columns footer-segment">
      <a href="/#/history" class="u-full-width  footer-button footer-link yellow" ng-class="{selected: selectedID===1}" ng-click="toggleSelected(1)">
        History
      </a> 
    </div>
    <div class="two columns footer-segment" >
      <a href="/#/about" class="u-full-width  footer-button footer-link yellow"ng-class="{selected: selectedID===2}" ng-click="toggleSelected(2)">
        About
      </a> 
    </div>    
    <div class="three columns u-full-width footer-segment empty-menu-item">&nbsp;</div>
  </div>
</header>
